<!--
Application Name : Youtube Playlist Length Calculator
Author : Raghav | Github : raghavtwenty
Date Created : Feb 25, 2023 | Last Updated : Feb 27, 2023
Version Info: 1.0
Html Version : 5
-->


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">

		<title> Youtube Playlist Length Calculator </title>
	</head>
	<body>
	<h1> Youtube Playlist Length Calculator </h1>

    {% block body %}
    {% endblock %}

    <footer>
		<br>
		© Designed & Developed by Raghav, Coimbatore Institute of Technology 
		<br> 
		Github : <a href="https://github.com/raghavtwenty"> @raghavtwenty </a>
        <br>
        Last Updated : Feb 27, 2023 | Version Info : 1.27022023 | Public Release
        <br><br>
	</footer>
	</body>
</html>